.jsch-datetime-picker-style {
    font-family: Tahoma, sans-serif;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:300px;
    height: 200px;
    border-radius:3px;
    background-color:#fff;
    color:silver;
}

.jsch-datetime-picker-nav { 
    color: #fff;
    height:10%;
    color:silver; 
}
.jsch-datetime-picker-nav div {
    text-align:center;
}
.jsch-datetime-picker-nav div:nth-child(1) {
    display:inline-block;
    width:32%;
    cursor:pointer;
    text-decoration: underline;
}

.jsch-datetime-picker-nav div:nth-child(2) {
    display:inline-block;
    width:32%;  
}

.jsch-datetime-picker-nav div:nth-child(3) {
    display:inline-block;
    width:32%;
    cursor:pointer;
    text-decoration: underline;
}

.jsch-datetimepicker-area {
    height:86.5%;
    display:inline-block;
    width:98%;
    padding:1%;
    overflow: auto;
}

.jsch-datetimepicker-area div div {
    float:left;
    border-radius:3px;
    cursor:pointer;
    text-align:center;
}

.jsch-datetimepicker-area div div:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jsch-datetime-picker-style .jsch-datetime-picker-1-step {
    display:inline-block;
    width:98%;
    padding:1%;
}

.jsch-datetime-picker-1-step div {
    font-size:750%;
    width:50%;
}

.jsch-datetime-picker-2-step div {
    font-size:120%;
    height:14%;
    width:14%;
}

.jsch-datetime-picker-3-step div {
    font-size:150%;
    height:14%;
    width:48%;
}

.jsch-datetime-picker-4-step div {
    font-size:180%;
    height:14%;
    width:14%;
}

.jsch-datetime-picker-5-step div {
    font-size:200%;
    height:14%;
    width:14%;
}

.jsch-datetime-picker-6-step div {
    font-size:200%;
    height:14%;
    width:14%;
}

.jsch-datetime-picker-7-step div {
    font-size:200%;
    height:14%;
    width:14%;
}

.jsch-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
/*
@media only screen and (max-width: 420px) {
    body {
      background-color: red;
    }
}
*/
