.jsch-datetime-picker-style {
    font-family: Tahoma, sans-serif;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:300px;
    height: 200px;
    border-radius:3px;
    background-color:#fff;
    color:silver;
    
}

.jsch-datetime-picker-nav { 
    color: #fff;
    height:10%;
    color:silver; 
}
.jsch-datetime-picker-nav div {
    text-align:center;
}
.jsch-datetime-picker-nav div:nth-child(1) {
    display:inline-block;
    width:32%;
    cursor:pointer;
    text-decoration: underline;
}

.jsch-datetime-picker-nav div:nth-child(2) {
    display:inline-block;
    width:32%;  
}

.jsch-datetime-picker-nav div:nth-child(3) {
    display:inline-block;
    width:32%;
    cursor:pointer;
    text-decoration: underline;
}

.jsch-datetimepicker-area {
    height:86.5%;
    display:inline-block;
    width:98%;
    padding:1%;
    overflow: auto;
    box-sizing: initial;
}

.jsch-datetimepicker-area div div {
    margin:1%;
    float:left;
    border-radius:3px;
    cursor:pointer;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.jsch-datetimepicker-area div div:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jsch-datetime-picker-1-step div {
    font-size:750%;
    width:48%;
}

.jsch-datetime-picker-2-step div {
    font-size:120%;
    width:12.25%;
}

.jsch-datetime-picker-3-step div {
    font-size:190%;
    width:31.25%;
}

.jsch-datetime-picker-4-step div {
    font-size:170%;
    width:12.25%;
}

.jsch-datetime-picker-5-step div {
    font-size:170%;
    width:12.25%;
}

.jsch-datetime-picker-6-step div {
    font-size:170%;
    width:12.25%;
}

.jsch-datetime-picker-7-step div {
    font-size:170%;
    width:12.25%;
}

.jsch-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/*responsive*/

@media only screen and (max-width: 420px) {
    .jsch-datetime-picker-style {
        left:0px !important;
        min-width:260px !important;
        width:100% !important;
    }
}
